/input/images/Thumbs.db
/temp
/tmp
/template
/output
/input-cache
/fsh-generated
/.vscode
/_gencontinuous.bat
/_gencontinuous.sh
/_genonce.bat
/_genonce.sh
/.tmp-codespell-venv/**

/examples/**
.github/skills/**
